.hotkeys {


  .hotkeys-list {

    background: radial-gradient(#fff -16%,#c8c8c8);//circle,
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 0;
    width: 485px;
    padding: 36px 0 21px 48px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 27px);
    overflow: scroll;
    box-sizing: border-box;

    .settings {
      display: flex;

    }

    .hotkeys-list-controls {
      z-index: 2;

      position: fixed;
      display: flex;
      background: transparent;
      height: 24px;
      width: 485px;
      margin-top: -36px;
      margin-left: -35px;
      align-items: flex-start;

      padding-left: 35px;
      box-sizing: border-box;
    }

    .hotkeys-list-items {
      padding-bottom: calc(20px + 12px);

      .no-user-hotkeys {
        height: 24px;
        font-size: 14px;
        margin-top: 9px;
        margin-bottom: -9px;
        color: rgba(0,0,0,.5);
      }
    }
    .global-hotkeys {
      margin-top: -12px;
    }
    .hotkeys-list-items .hotkeys-list-item {
      display: flex;
      align-items: flex-end;
      height: 24px;
      flex: 0 0 auto;

      .hotkey-on-release {
        min-width: 15px;
        display: flex;

        .button-select {
          border: none;
          background: transparent;
          width: 15px;
          font-size: 14px;
          padding: 0;
        }
      }
      .shortcut-input {
        position: relative;
        margin-right: 14px;
        flex: 0 0 auto;

        //top: 1px;

        &:focus {
          color: red;
        }
      }

      .hotkey-name {

        width: 100%;
        border-bottom: 1px dotted #797979;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        background: linear-gradient(0deg, #ececec4a, transparent);
      }
    }

  }
}