.hotkey-button {
  display: flex;
  position: relative;

  &.hotkey-highlighted .shortcut-input {
    color: red;
  }

  .hotkey-key {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 10px;
    //margin-top: 13px;
    background: white;
    min-width: 6px;
    max-height: 7px;
    line-height: 7px;
  }
}