.selection {
  display: flex;
  position: absolute;
  //position: relative;
  //border: 1px solid transparent;

  cursor: crosshair;

  pointer-events: none;

  &.selectionActive {
    //border: 1px solid red;
    //border: 1px solid greenyellow;

    pointer-events: auto;
  }

  &.selectionUnable {
    border: 1px solid transparent;

    pointer-events: none;
    opacity: 0;
  }
  &.cursorEnd {
    cursor: s-resize;
  }

  .selection-path {
    stroke: black;
    animation: crowl 3s linear infinite;
    stroke-dasharray: 3, 3;
    stroke-width: 1px;
  }
  .selection-path-white-dash {
    stroke: white;
    animation: crowl-white 3s linear infinite;
    stroke-dasharray: 3, 3;
    stroke-width: 1px;
  }

  @keyframes crowl {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 40;
    }
  }
  @keyframes crowl-white {
    0% {
      stroke-dashoffset: 3;
    }
    100% {
      stroke-dashoffset: 43;
    }
  }
}
