$yellow: #ffcd00;
$blue: darkblue;

.repeating-controls {

  background: black;
  display: flex;
  flex-direction: column;

  .repeating-controls-grid {
    display: flex;
    flex-direction: column-reverse;

    .repeating-controls-grid-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .repeating-controls-grid-buttons-row {
        display: flex;

      }
    }
  }

  .button:focus {
    outline: 2px dotted #ffcd00;
    //box-shadow: 0 0 6px black;
  }
}

.repeating-button {
  .button {
    background: black;
    color: white;

    &.button-select.button-select-selected {
      background: $blue;
    }
  }

  .shortcut-input.empty {
    background: radial-gradient(white -50%, transparent);
  }
}

.repeating-button .hotkey-key, .repeating-button-number .hotkey-key {
  background: white;
  color: black;
  min-width: 7px;
}

.repeating-button-number {
  .button {
    background: black;
    color: white;
  }

  .shortcut-input.empty {
    background: radial-gradient(white -50%, transparent);
    color: $yellow;
  }

  .select-drop>.select-drop-items>.select-buttons-items {
    border: 1px solid $yellow;
  }


  .button.button-select.button-select-selected {
    background: $blue;
  }

  .button-number-value {

    display: flex;
    //align-items: center;
    //height: 10px;
    background: transparent;
    border-right: 1px solid white; //#595959;
  }

  .button-number-cf-settings-handler {


    //background-color: black;


    & > div {
      &:after {
        color: $yellow;
      }

      //border-radius: 50%;
    }

  }

  .button:focus {
    outline: 2px dotted #ffcd00;
    //box-shadow: 0 0 6px black;
  }
  .button-number-cf-value-active {
    border: 1px solid $yellow;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }


}