.brush-tool {

  flex: 0 0 auto;

  display: flex;
  flex-direction: column;


  .brush-params {
    display: flex;
    flex: 0 0 auto;
  }

  .pattern-list {
    display: flex;
    flex: 0 0 auto;
    width: calc(42px * 5);
    flex-wrap: wrap;
  }
}