.button {
  background: lightgoldenrodyellow;


  //display: inline-flex; todo pricolno


  height: 20px;
  width: 70px;
}

.button-select {
  background: lightgoldenrodyellow;

  &.button-select-selected {
    background: lightpink;
  }
}


.button-number {

  padding: 0;
  position: relative;

  .button-number-amplitude {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    height: 100%;
    border: 1px solid lightcoral;

    span {
      right: 0;
      position: absolute;
      bottom: 0;
      font-size: 10px;
    }
  }

  .button-number-xy-amplitude {
    opacity: 1;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    height: 100%;
    border: 1px solid lightcoral;
    //border: 1px solid rgba(0,0,0,0.1);

    border-right:1px solid lightcoral;
    border-left:1px solid lightcoral;


    span {

      right: 0;
      position: absolute;
      bottom: 0;
      font-size: 10px;
    }

    canvas {
      height: 6px;
    }

  }

  .button-number-xy-amplitude-changing {

    //opacity: 0;
  }

  //&:hover .button-number-xy-amplitude {
  //  opacity: 0;
  //}

  & > .button-number-value {
    width: 0;
    background: lightslategray;
    white-space: nowrap;
    overflow: visible;
    height: 100%;
  }


  &.button-number-active {

  }

}
