.input-number {

  flex: 1;
  text-align: left;

  background: lightgoldenrodyellow;

  border: 1px solid lightgrey;
  border-color: #ababab  #dedede  #dedede #ababab;
}

.input-number:focus {

  //background: lightgrey !important;

  border: 1px solid lightgrey;
  border-color: #ababab  #dedede  #dedede #ababab;
  outline: none;
}