@import "./_mixins.scss";
.input-file {
  display: inline-flex;
  input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;

    z-index: -1;
  }
  input:focus + label {
    @include ffoocus();
  }

  label {
    text-align: center;
    font-size: 11px;
    line-height: normal;
    display: inline-block;
    background: lightgoldenrodyellow;
    height: 20px;
    width: 70px;
    padding: 1px 7px 2px 7px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color:  #dedede #ababab #ababab #dedede;
    cursor: pointer;


    &:active {
      outline: none;
      z-index: 100;
      border-style: solid;
      border-color: #ababab #d3d3d3 #d3d3d3 #ababab;
    }




  }
}

//
//.button:focus {
//  //outline: black;
//  outline: none;
//  box-shadow: 0 0 4px 2px #66666654;
//  z-index: 1;
//
//}
//
//.button:active {
//  border-color: #ababab #d3d3d3 #d3d3d3 #ababab;
//}
//
//.button.button-pressed {
//  border-color: #ababab #d3d3d3 #d3d3d3 #ababab;// !important;
//}