@import "./_mixins.scss";
.input-number {

  height: 20px;
  width: 70px;
  flex: 1;
  text-align: left;

  background: lightgoldenrodyellow;

  border: 1px solid lightgrey;
  border-color: #ababab  #dedede  #dedede #ababab;

  box-sizing: border-box;
}

.input-number:focus {

  @include ffoocus();
}