.input-file {
  display: inline-flex;
  input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;

    z-index: -1;
  }

  label {
    text-align: center;
    font-size: 11px;
    line-height: normal;
    display: inline-block;
    background: lightgoldenrodyellow;
    height: 20px;
    width: 70px;
    padding: 1px 7px 2px 7px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color:  #dedede #ababab #ababab #dedede;
    cursor: pointer;


    &:active {
      outline: none;
      z-index: 100;
      border-style: solid;
      border-color: #ababab #dedede #dedede #ababab;
    }

    &:focus {
    }


  }
}