.layout-container {

  background: lightgrey;

  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;


  height: 100vh;

  .layout {

    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    .tools-panel {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;

      box-sizing: border-box;

      width: calc(100% - 200px);

      display: flex;
      align-items: baseline;

      padding-top: 7px;
      padding-left: 11px;

      &:hover {
        z-index: 10;
      }

    }

    .windows {
      height: 100%;
      white-space: nowrap;
      padding-right: 77vw;
      padding-left: 23vw;
      display: flex;
      align-items: flex-end;

    }

    .app-control-button {
      color: rgba(0,0,0,.5);
      border: none;
      outline: none;
      background: rgba(0,0,0,.05);


      width: 46px;
      height: 12px;

      text-align: center;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.5;
      }
    }

    .app-controls {

      z-index: 1;
      position: fixed;
      top: 7px;
      right: 11px;

      padding: 0;

      display: flex;
      align-items: center;

      & > button {
        margin-left: 14px;
      }

      .full-button {
        position: relative;
        width: 26px;
        height: 12px;
        .tl, .br {
          position: absolute;
          width: 4px;
          height: 4px;

          border-color: rgba(0,0,0,.5);

          transition: all 300ms;
        }

        .tl {
          top: 0;
          left: 0;
          border-top: 1px solid;
          border-left: 1px solid;

        }
        .br {
          bottom: 0;
          right: 0;
          border-bottom: 1px solid;
          border-right: 1px solid;

        }

        &.full-button-off {
          .tl {
            top: 50%;
            left: 54%;

          }
          .br {
            bottom: 50%;
            right: 50%;

          }
        }
      }
    }
  }
}