.layout-container {

  background: lightgrey;
  //width: 100vw;
  overflow-y: auto;
  .layout {

    height: 100vh;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    .tools-panel {
      border: 1px solid lightseagreen;

      position: fixed;
      top: 7px;
      left: 11px;
    }

    .windows {
      white-space: nowrap;
      margin-right: 600px;
      margin-left: 600px;
      display: flex;
      align-items: flex-end;

      padding-bottom: 40px;
    }
  }
}