.maskCanvas {
  border: 1px solid black
}

.mask-draw {
  display: flex;
  flex-direction: column;
  //align-items: flex-end;
  .mask-draw-buttons {
    display: flex;
  }
  .mask-draw-cursors {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}