.pattern {

  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .areas {
    display: flex;
    align-items: flex-end;
  }

  .pattern-controls {
    height: 100px;
    padding-top: 1px;
    visibility: hidden;
    border-top: 1px solid rebeccapurple;
    font-size: 12px;

    .size-input-number {
      width: 40.6px;

      background: lightgoldenrodyellow;
    }
  }

  &:hover .pattern-controls {
    visibility: visible;
  }

  .video-controls {
    display: flex;
    flex-direction: column;
  }

  .right {

    display: flex;
    flex-direction: column;
    align-items: baseline;
  }


  //@keyframes spin { 100% {
  //  transform:rotate(360deg); } }
  //
  //& > .canvas {
  //  animation:spin 4s linear infinite;
  //}
}