
.zero-pattern {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 80px;
  box-sizing: border-box;
  border-left: 1px solid rgba(0, 0, 0, .07);
}

.pattern {

  position: relative;

  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  padding-right: 129px;
  padding-bottom: 80px;
  padding-top: 270px;
  box-sizing: border-box;

  border-left: 1px solid rgba(0, 0, 0, .07);


  .areas {
    display: flex;
    align-items: flex-end;
  }

  .plugins {
    width: 210px;

    .plugins-toggles {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 20px;
      justify-content: flex-end;
    }
  }

  .pattern-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 1px;
    visibility: hidden;
    //border-top: 1px solid rebeccapurple;
    font-size: 12px;
    //margin-bottom: 40px;

  }
  .save-load-sizes {

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & > div {
      display: flex;
    }
  }

  .pattern-sizes {
    display: flex;

    .size-input-number {
      width: 70px;
      text-align: left;

      background: lightgoldenrodyellow;
    }
  }
  .history-controls {
    display: flex;
    //border: 1px solid red;
    & > .button {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 17px;

      & > span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & > small {
        margin-left: 5px;
        color: #74746d;
      }
    }
  }

  .plugins, .pattern-controls, .history-controls, .pattern-sizes {
    //visibility: hidden;
  }

  &:hover {
    .plugins, .pattern-controls, .history-controls, .pattern-sizes {
      visibility: visible;
    }
  }



  .left {
    width: 210px;
    position: sticky;
    bottom: 40px;

    &:hover {
      z-index: 10;
    }
  }

  .right {

    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 0 0 43px;
  }

  .pattern-delete-button {
    &:hover {
      background: transparent;
      border: none;
      cursor: pointer;
      color: red;
      //text-decoration: underline;
    }
  }
}

