.saw-change-function {
  display: flex;
  .saw-controls {
    display: flex;
    flex-direction: column;
  }

  canvas {
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #ededed;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: rgb(186, 186, 186);
  }
}