.select-drop {
  position: relative;

  display: inline-flex;

  &:hover {
    .select-drop-items {
      display: flex;
    }
  }

  .select-drop-items {
    display: none;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    z-index: 10;
  }

  //&:hover {
  //  .select-drop-items {
  //    display: flex;
  //  }
  //}
}