.select-drop {
  position: relative;

  display: inline-flex;

  &:hover {
    .select-drop-items {
      display: flex;
      .select-buttons-items {
        display: flex;
        border: 1px solid red;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: row;
        z-index: 11;
        //max-height: 100px;
        flex-wrap: wrap;
      }
    }
  }

  .select-drop-items {
    display: none;
  }

  //&:hover {
  //  .select-drop-items {
  //    display: flex;
  //  }
  //}
}