.selection {
  display: flex;
  position: relative;

  border: 1px solid transparent;

  pointer-events: none;

  &.selectionActive {
    border: 1px solid greenyellow;

    pointer-events: auto;
  }

  &.selectionUnable {
    border: 1px solid transparent;

    pointer-events: none;
    opacity: 0;
  }
}