.selection {
  display: flex;
  position: relative;

  border: 1px solid transparent;

  pointer-events: none;

  &.selectionActive {
    border: 1px solid yellowgreen;

    pointer-events: auto;
  }
}