.sin-change-function {


  display: flex;


  canvas {
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #ededed;
    border-right-color: lightgrey;
    border-left-color: lightgrey;
    border-top-color: rgb(186, 186, 186);
  }

  .sin-controls {
    display: flex;
    flex-direction: column;
    position: relative;

  }


}