.sis2-change-function {
  display: flex;
  flex-direction: column;

  width: 140px;

  .sis2-controls {
    display: flex;
    flex-direction: row;

    &.right {
      display: flex;
      .buttons-container {
        width: 140px;
      }
    }

    .buttons-container {
      width: 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    .canvas-container {
      width: 70px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  //.parab-end {
  //  margin-top: 10px;
  //}

  .canvas-image-data {

    //border: 1px solid transparent;
    //border: 1px solid red;


    border-width: 1px;
    border-style: solid;
    border-bottom-color: #ededed;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: rgb(186, 186, 186);
  }
}