.tools {

  display: inline-block;
  //border: 1px solid lightseagreen;
  flex: 0 0 auto;
  width: 210px;
}

.change-functions {


  display: flex;
  .control-buttons {

    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    .select-buttons-items {
      display: flex;
      flex-direction: column;
    }
  }
  .functions-list {

    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
  }

  .function-title {
    & > .function-delete {
      display: none;
    }
    &:hover > .function-delete {
      display: block;
    }
    & > .function-id {
      display: block;
    }
    &:hover > .function-id {
      display: none;
    }

  }

  .function-delete {

    background:transparent;
    border: none;
    cursor: pointer;
    color: red;
    //text-decoration: underline;

  }
}