.tools {

  display: inline-block;
  //border: 1px solid lightseagreen;

  flex: 0 0 auto;
}

.change-functions {


  display: flex;
  .control-buttons {

    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
  .functions-list {

    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
  }
}