.tools {

  display: inline-block;
  border: 1px solid lightseagreen;
}

.change-functions {


  display: flex;
  .control-buttons {

  }
  .functions-list {

    display: flex;
    align-items: baseline;
  }
}