.button {
  background: lightgoldenrodyellow;

  white-space: nowrap;

  height: 20px;
  width: 70px;

  font-size: 11px;

  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  border-bottom-color: #ababab;
  border-right-color: #ababab;

  //text-align: left;

}
//.button:focus {
//  //outline: 1px solid #ffb6c1;
//  outline: none;
//  box-shadow: 0px 0px 1px 1px #ffb6c1;
//  //box-shadow: 1px 1px 6px #000000ad, -1px -1px 3px white;
//  z-index: 1;
//
//}

.button:active {
  border-color: #ababab #d3d3d3 #d3d3d3 #ababab;
}

.button.button-pressed {
  border-color: #ababab #d3d3d3 #d3d3d3 #ababab; // !important;
}