.delete-title-button {
  width: 70px;
  & > .delete-button {
    display: none;
  }

  &:hover > .delete-button {
    display: block;
  }

  & > .delete-title {
    display: block;
  }

  &:hover > .delete-title {
    display: none;
  }

}

.delete-button {

  background: transparent;
  border: none;
  cursor: pointer;
  color: red;
}
