.area {
  display: flex;
  position: relative;

  & > .selection {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .area-center {
    width: 2px;
    height: 2px;
    background: red;
    position: absolute;
    z-index: 10;
  }
}