body {
}

#v1, #v2, #svg1 {
  display: none;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

//.selected-button {
//  border: 1px solid red;
//}
//
//.value-button {
//  user-select: none;
//  border: 1px solid black;
//  width: 50px;
//  overflow: hidden;
//  .value-button-value {
//    width: 100%;
//    background: yellow;
//    white-space: nowrap;
//    overflow: visible;
//  }
//
//  &.value-button-selected {
//    border: 1px solid red;
//  }
//}