.hotkeys-list-item {
    .hotkey-list-form {
        min-width: 81px;
        display: flex;
        //overflow: hidden;
        & > input {
            flex: 0 0 auto;
        }
        //
        //.hotkeys-list-item-filler {
        //    //min-width: 11px;
        //    flex: 1 1 auto;
        //    border-bottom: 1px dotted #797979;
        //    margin-left: 11px;
        //}
    }


    .hotkey-name {

        width: 100%;
        border-bottom: 1px dotted #797979;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        background: linear-gradient(0deg, #ececec4a, transparent);
    }
}
