.select-drop {
  position: relative;

  display: inline-flex;

  &:hover, &.select-drop-open {
    .select-drop-items {


      display: flex;
      .select-buttons-items {
        border: 1px solid red;
        background: lightgrey;


        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;


        display: grid;
        grid-auto-flow: column;
        grid-template-rows: min-content min-content min-content min-content;
      }
    }
  }

  .select-drop-items {
    display: none;
  }

  //&:hover {
  //  .select-drop-items {
  //    display: flex;
  //  }
  //}
}